*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background-color: #fcfcfc;
  font-family: "Segoe UI", sans-serif;
}

button{
  background-color: white;
}

hr{
  background-color: #b8b7b7;
  height: 1px;
}

.grid{
  display: grid;
}

.flex{
  display: flex;
  align-items: center;
}

.shadow{
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1);
}
