*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background-color: #fcfcfc;
}

button{
  background-color: white;
}

hr{
  background-color: #b8b7b7;
  height: 1px;
}

.grid{
  display: grid;
}

.flex{
  display: flex;
  align-items: center;
}

.input{
  width: 350px;
  height: 35px;
  border-radius: 0.5rem;
  background-color: rgb(241, 237, 237);
  padding: 0 1.5rem;
}

